*{
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

nav{
  background-color: #0B0C10;
  width: 100%;
  height: 70px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.logo a{
  font-size: 30px;
  color: white;
  text-decoration:none;
}
.searchbar input{
  width: 200px;
  height: 30px;
}
.searchbar button{
  width: 50px;
  height: 30px;
}
.nav-links a{
  text-decoration: none;
  padding: 8px 16px;
  margin: 0px 20px;
  color: white;

}
.nav-links a:hover{
  background-color: white;
  color: black;
}

/* ----------------------------------------------------------------------- */

.home{
  color: black;
  /* background:radial-gradient(#ff8a00,#e52e71); */
  /* background-color: grey; */
}
.movies-list{
  width: 90%;
  margin: 50px auto;
}

::-webkit-scrollbar {
  display: none;
}

.movie{
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 0px 10px;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: #0B0C10;
  color: white;
}
.movie a{
  color: white;
  text-decoration: none;
}
.movie img{
  width: 100%;
  height: 60%;
  object-fit: scale-down;
}
.movie h1{
  font-size: 15px;
}

.trailer-link{
  background: linear-gradient(transparent , rgb(60, 60, 70));
  width: 100%;
  height: 100%;

  position: absolute;
  top: 100%;
  left: 0px;
  transition: 0.3s;

  color: white;
  text-decoration: none;
  padding: auto;
}
.movie:hover .trailer-link{
  top: 0%;
}

.title{
  background-color: white;
  position: sticky;
  top: 70px;
  z-index: 1000;
}

/* --------------loder------------*/

.loader{
    background-color: transparent;
    width :200px ;
    height :200px;
    border-top: dotted 10px #e52e71;
    border-right: dotted 10px #e52e71;
    border-bottom: solid 10px transparent;
    border-left: solid 10px transparent;


    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    animation: load 1s infinite linear;
}
@keyframes load {
  0%{
    transform: translate(-50% , -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50% , -50%) rotate(360deg);
  }
}








/* .loader:hover{
  transform: scale(360deg);
  transform: rotate(360deg);
  transition: 2s;
} */



/*---------------------addmovie----------------*/

.add-movie form{
  background-color: #e52e71;
  width: 450px;
  height: auto;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
}
.add-movie form input{
  display: block;
  width:90%;
  height: 30px;
  padding-left: 10px;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
.add-movie form input:focus{
  transform: scale(1.07);
  outline: none;
}
fieldset{
  border: white solid 1px;
  border-radius: 3px;
  width: 90%;
  margin: 10px auto;
}
.add-movie fieldset div{
    width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: 25px 130px  25px 130px;
}

.add-movie form input[type="checkbox"]
{
  accent-color: black;
  display: inline-block;
  width: 15px;height: 15px;
}

.add-movie form input[type="submit"]
{
  background-color: #0B0C10;
  color: white;
  width: 50%;
  height: 40px;
}
.add-movie form input[type="submit"]:hover
{
  background-color: white;
  color: #0B0C10;
}



/* ------------------login------------- */

.login-cont , .signup-cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-cont form , .signup-cont form{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  border: 2px solid black;
  width: 40%;
  height: 50vh;
}
.login-cont input , signup-cont input{
  display: block;
  padding: 2%;
  margin: 2% auto;
}
.login-cont a , signup-cont a{
  text-decoration: none;
}


#popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;

  background-color: #00000051;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}
#popup .cont{
  background-color: #e52e71;
  width: 300px;
  height: 300px;
  animation: pop 0.5s;
  position: relative;
}
#popup .cont input{
  display: block;
  width: 80%;
  height: 25px;
  margin: 8px auto;
  padding-left: 5px;
}

.cont button:last-child
{
  position: absolute;
  top: -7%;
  right: -7%;
}



@keyframes pop {
  0%{
    transform: scaleX(0) scaleY(0);
  }
  100%{
    transform: scaleX(1) scaleY(1);
  }
}